<%- layout('layout') %>
<div class="fluid-container">
	<div class="row">
		<div class="span8 offset2">
			<h1 class="pagination-centered"><%= title %></h1>
			<p class="alert alert-error">The page you were looking for was not found :( </p>
		</div>
	</div>
</div>  