<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/">
	    <label for="nickname">Choose a nickname</label>
	    <input type="text" value="" name="nickname" />
	    <input type="submit" value="GO" />
	</form>
  </body> 
</html>