 <% layout('layout') -%>
  <div class="fluid-container">
  <h1 class="pagination-centered"><%= __title %></h1>

      <div id="login">
          <form method="POST" action="/chat" id="loginform">
            <div class="input-append">
            <input class="span9" id="appendedInputButton" size="32" name="nickname" placeholder="Choose a nickname.." type="text"><input class="btn" type="submit">
            GO!
          </input>
          </div>
          </form>
        </div>
  </div>