 <% layout('layout') -%>
  <div class="fluid-container">
      <div id="login">
          <form method="POST" action="/" id="loginform">
            <h1><%= __title %></h1>
            <div class="input-append">
            <input class="span9" id="appendedInputButton" size="32" name="nickname" placeholder="Choose a nickname.." type="text"><button class="btn" type="button">
            GO!
          </button>
          </div>
          </form>
        </div>
  </div>