<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> 
  <script src="/js/functions.js"></script> 
  </head>
  <body>
  <div class="fluid-container">
      <div id="login">
          <form method="POST" action="/" id="loginform">
            <h1><%= title %></h1>
            <div class="input-append">
            <input class="span9" id="appendedInputButton" size="32" name="nickname" placeholder="Choose a nickname.." type="text"><button class="btn" type="button">
            GO!
          </button>
          </div>
          </form>
        </div>
  </div>
  <script src="/js/bootstrap.min.js"></script>
  </body> 
</html>