<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div style="margin:0 auto;width:50%">
    <h1><%= title %></h1>
    <form method="POST" action="/">
	    <label for="nickname">Choose a nickname</label>
      <div class="input-append">
      <input class="span2" id="appendedInputButton" size="16" name="nickname" type="text"><button class="btn" type="button">GO!
    </button>
    </div>
    </form>
  </div>
  <script src="/js/bootstrap.min.js"></script>
  </body> 
</html>