body, html {height:100%;
background: -moz-linear-gradient(top,  rgba(252,252,247,0.56) 0%, rgba(249,248,242,0.78) 50%, rgba(249,248,242,0.82) 58%, rgba(244,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,247,0.56)), color-stop(50%,rgba(249,248,242,0.78)), color-stop(58%,rgba(249,248,242,0.82)), color-stop(100%,rgba(244,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,247,0.56) 0%,rgba(249,248,242,0.78) 50%,rgba(249,248,242,0.82) 58%,rgba(244,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,247,0.56) 0%,rgba(249,248,242,0.78) 50%,rgba(249,248,242,0.82) 58%,rgba(244,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,247,0.56) 0%,rgba(249,248,242,0.78) 50%,rgba(249,248,242,0.82) 58%,rgba(244,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,247,0.56) 0%,rgba(249,248,242,0.78) 50%,rgba(249,248,242,0.82) 58%,rgba(244,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ffcfcf7', endColorstr='#f4f2f2',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;	
}

h1 {
	padding:1% 1%;
	color:#08C;
	text-shadow:1px 2px #eee;
	font-size:60px;
}
a {
}
#textarea {
	overflow-y:scroll;
	padding:5px 10px;
	height: 90%;
	max-height:63%;
	outline: 0;
	border:0 none;
	font-size:1em;
}
#textarea p {
}
p.msg {margin:6px;padding:0 4px;}
p.even {
	border-top:1px solid #fbfbfb;
}
#textarea p strong {
	margin:0 4px 0 2px;
} 
.userinput{
	bottom:0;
	left:0;
	padding:1% 0;
	width:100%;
	height:10%;
	background: rgb(0,128,192);
	background: -moz-linear-gradient(top,  rgba(0,128,192,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,128,192,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1)));
	background: -webkit-linear-gradient(top,  rgba(0,128,192,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,128,192,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,128,192,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,128,192,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080c0', endColorstr='#7db9e8',GradientType=0 );
	box-shadow:0px -2px 6px #aaa;
	border-top:2px solid #5FB4DE;
}
#appendedInputButton
{
	width:73%;
}
.msgtime {float:right;}
#frame {position:absolute;top:0;right:0;}
#canvas, #partnerCanvas {display:none;cursor:move;z-index:1000;border:10px solid #eee;box-shadow:2px 2px 3px #444;}
#partnerCanvas {position:absolute;top:240px;right:0;cursor:move;z-index:1000;border:10px solid #eee;box-shadow:2px 2px 3px #444;}
.ui-draggable-dragging {box-shadow:8px 12px 25px #999!important;border:10px solid #fff!important;}

.nick {font-weight:bold;}
.fluid-container {height:100%;}
.middle {height:75%;}
#login{
	width:100%;
	max-width: 300px;
	padding: 2% 0 0;
	margin: 0 auto;
}
#loginform{
	margin-left: 8px;
	padding: 26px 24px 26px;
	font-weight: normal;
	background: white;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}
.emoji {max-width:24px;vertical-align:bottom;}
#usermenu {margin-top:20px;}
ul {list-style-type: none;display:inline;margin-left:-2px;padding:5px 5px;}
ul li {display:inline;padding:3px 2px;}
body {padding:0 0!important;}