html
	height: 100%
body
  padding: 1%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #000
  color: #8e8e8e
a
  color: #00B7FF
#textarea
	font-size:1em
	border:0 none
	outline: 0
	color:#8e8e8e
	background: #020202
	height:63%
.userinput
	height:10%
	padding:2%
	border:1px solid #666
#msgbox
	padding:2%
	line-height:1.2em
	background:#eee
	color:#3333


